name: hub-mirror-by-issue
 
on:
  issues:
    types:
      - opened
 
# https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
permissions:
  issues: write
 
jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'hub-mirror')
    env:
      QYWX_ROBOT_URL: "${{ secrets.QYWX_ROBOT_URL }}"
    steps:
      #- name: Checkout repository
      #  uses: actions/checkout@v4
      #  with:
      #    token: "${{ secrets.HUB_MIRROR_BY_ISSUE_TOKEN }}"
 
      - name: Print image info to comment
        id: print-image-info
        env:
          GH_TOKEN: "${{ github.token }}"
          TITLE: "${{ github.event.issue.title }}"
        run: |
          #[原镜像名称IMAGE_NAME]:busybox[同步后镜像名称NEW_NAME]:busybox[镜像版本IMAGE_VERSION]:latest[仓库地址TARGET_REGISTRY]:registry.cn-hangzhou.aliyuncs.com[空间名称TARGET_REPOSITORY]:library[平台 amd64(默认)、arm64、arm/v7等等TARGET_ARCH]:amd64
          # 原始镜像
          IMAGE_NAME="$(echo "${TITLE}" | awk -F ":" '{print $2}' | awk -F "[" '{print $1}' | awk '{print $1}')"
          echo "原始镜像：${IMAGE_NAME}"
          # 同步后镜像
          NEW_NAME="$(echo "${TITLE}" | awk -F ":" '{print $3}' | awk -F "[" '{print $1}' | awk '{print $1}')"
          echo "同步后镜像：${NEW_NAME}"
          # 镜像版本tag
          IMAGE_VERSION="$(echo "${TITLE}" | awk -F ":" '{print $4}' | awk -F "[" '{print $1}' | awk '{print $1}')"
          echo "镜像版本tag：${IMAGE_VERSION}"
          # 仓库地址
          TARGET_REGISTRY="$(echo "${TITLE}" | awk -F ":" '{print $5}' | awk -F "[" '{print $1}' | awk '{print $1}')"
          echo "仓库地址：${TARGET_REGISTRY}"
          # 仓库名称空间
          TARGET_REPOSITORY="$(echo "${TITLE}" | awk -F ":" '{print $6}' | awk -F "[" '{print $1}' | awk '{print $1}')"
          echo "仓库名称空间：${TARGET_REPOSITORY}"
          # 架构
          TARGET_ARCH="$(echo "${TITLE}" | awk -F ":" '{print $7}' | awk -F "[" '{print $1}' | awk '{print $1}')"
          echo "架构：${TARGET_ARCH}"
          gh issue comment "${{ github.event.issue.html_url }}" -b "$(echo -e "原始镜像：${IMAGE_NAME}\n同步后镜像：${NEW_NAME}\n镜像版本tag：${IMAGE_VERSION}\n仓库地址：${TARGET_REGISTRY}\n仓库名称空间：${TARGET_REPOSITORY}\n架构：${TARGET_ARCH}")"
          gh issue comment "${{ github.event.issue.html_url }}" -b "镜像 ${IMAGE_NAME} 同步中...[详情请查看](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}) 如果还需要同步, 请重新提交issue"
          echo "image_name=${IMAGE_NAME}" >>"${GITHUB_OUTPUT}"
          echo "new_name=${NEW_NAME}" >>"${GITHUB_OUTPUT}"
          echo "image_version=${IMAGE_VERSION}" >>"${GITHUB_OUTPUT}"
          echo "target_registry=${TARGET_REGISTRY}" >>"${GITHUB_OUTPUT}"
          echo "target_repository=${TARGET_REPOSITORY}" >>"${GITHUB_OUTPUT}"
          echo "target_arch=${TARGET_ARCH}" >>"${GITHUB_OUTPUT}"
 
      - name: Login to Docker Registry
        env:
          GH_TOKEN: "${{ github.token }}"
          IMAGE_NAME: "${{ steps.print-image-info.outputs.image_name }}"
          NEW_NAME: "${{ steps.print-image-info.outputs.new_name }}"
          IMAGE_VERSION: "${{ steps.print-image-info.outputs.image_version }}"
          TARGET_REGISTRY: "${{ steps.print-image-info.outputs.target_registry }}"
          TARGET_REPOSITORY: "${{ steps.print-image-info.outputs.target_repository }}"
          TARGET_ARCH: "${{ steps.print-image-info.outputs.target_arch }}"
        run: |
          docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}" "${TARGET_REGISTRY}"
 
      - name: Pull, tag, and push Docker image
        env:
          GH_TOKEN: "${{ github.token }}"
          IMAGE_NAME: "${{ steps.print-image-info.outputs.image_name }}"
          NEW_NAME: "${{ steps.print-image-info.outputs.new_name }}"
          IMAGE_VERSION: "${{ steps.print-image-info.outputs.image_version }}"
          TARGET_REGISTRY: "${{ steps.print-image-info.outputs.target_registry }}"
          TARGET_REPOSITORY: "${{ steps.print-image-info.outputs.target_repository }}"
          TARGET_ARCH: "${{ steps.print-image-info.outputs.target_arch }}"
        run: |
          if [ "${TARGET_ARCH}" != "" ]; then
            docker pull --platform "${TARGET_ARCH}" "${IMAGE_NAME}:${IMAGE_VERSION}"
          else
            docker pull "${IMAGE_NAME}:${IMAGE_VERSION}"
          fi
          docker tag "${IMAGE_NAME}:${IMAGE_VERSION}" "${TARGET_REGISTRY}/${TARGET_REPOSITORY}/${NEW_NAME}:${IMAGE_VERSION}"
          docker push "${TARGET_REGISTRY}/${TARGET_REPOSITORY}/${NEW_NAME}:${IMAGE_VERSION}"
 
      - name: qyweixin send message
        if: ${{ env.QYWX_ROBOT_URL != '' }}
        uses: chf007/action-wechat-work@master
        env:
          WECHAT_WORK_BOT_WEBHOOK: "${{secrets.QYWX_ROBOT_URL}}"
          IMAGE_URL: "${{ steps.print-image-info.outputs.target_registry }}/${{ steps.print-image-info.outputs.target_repository }}/${{ steps.print-image-info.outputs.new_name }}:${{ steps.print-image-info.outputs.image_version }}"
        with:
          msgtype: markdown
          content: |
            # 镜像同步成功
            ```
            "${{ env.IMAGE_URL }}"
            ```
 
      - name: Close issue
        env:
          GH_TOKEN: "${{ github.token }}"
          IMAGE_NAME: "${{ steps.print-image-info.outputs.image_name }}"
          NEW_NAME: "${{ steps.print-image-info.outputs.new_name }}"
          IMAGE_VERSION: "${{ steps.print-image-info.outputs.image_version }}"
          TARGET_REGISTRY: "${{ steps.print-image-info.outputs.target_registry }}"
          TARGET_REPOSITORY: "${{ steps.print-image-info.outputs.target_repository }}"
          TARGET_ARCH: "${{ steps.print-image-info.outputs.target_arch }}"
        run: |
          gh issue comment "${{ github.event.issue.html_url }}" -b "$(echo -e "镜像同步完成 ${NEW_NAME} ，新的镜像 ${TARGET_REGISTRY}/${TARGET_REPOSITORY}/${NEW_NAME}:${IMAGE_VERSION}\n\n快速拉取命令，Docker客户端\n\`\`\`sh\ndocker image pull ${TARGET_REGISTRY}/${TARGET_REPOSITORY}/${NEW_NAME}:${IMAGE_VERSION}\n\`\`\`\n\nContainerd客户端拉取命令\n\`\`\`sh\nctr -n k8s.io image pull ${TARGET_REGISTRY}/${TARGET_REPOSITORY}/${NEW_NAME}:${IMAGE_VERSION}\n\`\`\`\n")"
          gh issue edit "${{ github.event.issue.html_url }}" --add-label "succeeded" -b "IMAGE SYNC"
          gh issue close "${{ github.event.issue.html_url }}" --reason "completed"
 
      - name: Failed Sync and Close issue
        if: failure()
        env:
          GH_TOKEN: "${{ github.token }}"
          IMAGE_NAME: "${{ steps.print-image-info.outputs.image_name }}"
          NEW_NAME: "${{ steps.print-image-info.outputs.new_name }}"
          IMAGE_VERSION: "${{ steps.print-image-info.outputs.image_version }}"
          TARGET_REGISTRY: "${{ steps.print-image-info.outputs.target_registry }}"
          TARGET_REPOSITORY: "${{ steps.print-image-info.outputs.target_repository }}"
          TARGET_ARCH: "${{ steps.print-image-info.outputs.target_arch }}"
        run: |
          gh issue comment "${{ github.event.issue.html_url }}" -b "镜像 ${IMAGE_NAME} 同步失败...[详情请查看](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})，请检查 image参数，如果还需要同步，请重新提交正确的issue"
          gh issue edit "${{ github.event.issue.html_url }}" --add-label "failure" -b "IMAGE SYNC"
          gh issue close "${{ github.event.issue.html_url }}" --reason "not planned"
